#titulo {
    color: blue;
    font-size: 40px;
}

.texto {
    color: teal;
    font-family: 'Comic Sans MS', cursive, sans-serif;
}

#botonEnviar {
    background-color: aqua;
    border: 3px solid black;
    color: purple;
    padding: 10px 20px;
}

.boton {
    border-radius: 5px;
}
