.titulo {
    font-size: 30px;
    color: blue;
}

#destacado {
    background-color: aqua;
    color: red;
}

.contenido {
    color: purple;
    margin: 10px 0;
}

#especial.contenido {
    background-color: lime;
    border: 3px solid black;
}
