body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura de la pantalla completa */
    margin: 0;
    background-color: #f0f0f0; /* Fondo claro para destacar la tarjeta */
}

.tarjeta {
    width: 700px; /* Ancho de la tarjeta */
    height: 400px; /* Alto de la tarjeta */
    margin: 20px; /* Margen exterior para separar la tarjeta del borde de la pantalla */
    padding: 20px; /* Espacio interior entre el contenido y el borde */
    border: 3px solid #333; /* Borde alrededor de la tarjeta con color gris oscuro */
    background-color: #ffffff; /* Fondo blanco para la tarjeta */
    border-radius: 10px; /* Borde con esquinas redondeadas */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar un efecto de elevación */
    text-align: center; /* Centrar el texto dentro de la tarjeta */
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333; /* Color del texto principal */
}

h3 {
    font-size: 1.2em;
    margin-bottom: 15px;
    color: #666; /* Color del texto secundario */
}

p {
    font-size: 1em;
    color: #444; /* Color del texto de la descripción */
}
